<%= render "shared/header" %>

<h1 class="title" >学習画面</h1>

<div class="main_contents">
  <%= form_with model: @learning_outcome, url: "/learning_outcomes", method: :post, local: true do |f| %>
    <%= f.hidden_field :sum_rel_id, value: @sum_rel_id %>
    <%= f.hidden_field :document_id, value: @document.id %>
    <div class="content_head">
      <div class="content_title">
        タイトル：<%= @document.title %>
      </div>
      <div class="content_level">
        レベル：<%= @document.level.name %>
      </div>
      <div class="content_category">
        カテゴリー：<%= @document.category.name %>
      </div>
    </div>
    <div class="document">
      <%= @document.document %>
    </div>
    <div class="content_vocabulary">
      <div class="vocabulary_title">語彙</div>
      <% @vocabularys.each do |vocabulary| %>
        <div class="vocabulary"><%= vocabulary %></div>
      <% end %>
    </div>
    
    <%= render 'shared/error_messages', model: @learning_outcome %>

    <div class="">
      <div class="input_title_content">
        <div class="input_title">
          <% if @sum_rel_id == "1" %>
            要約を記述して下さい(200文字〜500文字程度)
          <% else %>
            感想文を記述して下さい(200文字〜500文字程度)
          <% end %>
        </div>
        <div class="text_count">0文字</div>
      </div>
      <%= f.text_area :text, class:"input_text", rows:"20" ,maxlength:"550" %>
    </div>
    <div class="button_area">
      <%= f.submit "回答する" ,id: "input_button", class:"input_button_disable", disabled: true %>
    </div>
  <% end %>
</div>