<%= render "shared/header" %>

<h1 class="title" >学習結果</h1>

<div class="main_contents">
  <div class="content_head">
    <div class="content_title">
      タイトル：<%= @document.title %>
    </div>
    <div class="content_level">
      レベル：<%= @document.level.name %>
    </div>
    <div class="content_category">
      カテゴリー：<%= @document.category.name %>
    </div>
  </div>
  <div class="document_title">問題文</div>
  <div class="document">
    <%= @document.document %>
  </div>
  <div class="document_title">あなたの<%= @learning_outcome.sum_rel.name %></div>
  <div class="document">
    <%= @learning_outcome.text %>
  </div>
  <div class="document_title">模範解答</div>
  <div class="document">
    <% if @learning_outcome.sum_rel_id == 1%>
      <%= @document.summary_ai %>
    <% else %>
      <%= @document.reflection_essay_ai %>
    <% end %>
  </div>
  <div>
    <div class="document_title">解説</div>
    <div class="document">
      <div><%= @assessments %></div>
    </div>
  <div class="learning_outcome_comments">
    <%= form_with model: [@learning_outcome, @comment], comments: "comments_form", local: true do |f|%>
      <div class="field">
        <%= f.label :comment, "コメント" %><br>
        <%= f.text_area :comment, class:"comment_content", rows:3 %>
      </div>
      <div class="actions">
        <%= f.submit "送信する", class: :form_btn  %>
      </div>
    <% end %>
    <ul class="comments_lists">
      <% @comments.each do |comment| %>
        <li class="comments_list">
          <%= comment.comment %>
        </li>
      <% end %>
    </ul>
  </div>
</div>