<header class='top-page-header'>
  <div class="header_user">
    <div class="user-nickname" ><%= current_user.nickname %>さん</div>
    <div class="current_user_points" >景品獲得まであと<%= current_user.points == nil ? 1000 : 1000 - current_user.points %>ポイント</div>
  </div>
  <div class='lists-right'>
    <% if user_signed_in? %>
      <div class="header_btn"><%= link_to '学習の手引き', study_guides_path, target: "_blank", class: "header_btn_link" %></div>
      <div class="header_btn"><%= link_to '学習履歴画面', history_learning_outcomes_path, target: "_blank", class: "header_btn_link" %></div>
      <div class="header_btn"><%= link_to '問題文一覧画面', root_path, class: "header_btn_link" %></div>
      <div class="header_btn"><%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: "header_btn_link" %></div>
    <% end %>
  </div>
  
</header>